body {
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
    background-color: black;
}

.container {
    padding: 30px;
    width: 100%;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"]{
    flex: 1;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding: 10px;
}

button {
    padding: 10px 15px;
    background-color: rgb(65, 65, 65);
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(148, 147, 147);
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eaeaea;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

li button {
    background-color: #dc3545;
}

li button:hover {
    background-color: #c82333;
    color: white;
}